In [54]:
import pandas as pd

In [55]:
metaphlan=pd.read_csv(
    "/shared/projects/mudis4ls_is4_benchmark/test_results/metaphlan/metaphlan_output_gtdb.txt", sep="\t",
    header=1
    )

In [56]:
sylph=pd.read_csv("/shared/projects/mudis4ls_is4_benchmark/test_results/sylph/ERS12377136.fastq.gz.sylphmpa",
                  sep="\t", header=1)

In [57]:
bracken=pd.read_csv("/shared/projects/mudis4ls_is4_benchmark/test_results/kraken/gtdb/test_Species.bracken", sep="\t")

In [58]:
meteor=pd.read_csv("/shared/projects/mudis4ls_is4_benchmark/test_results/meteor/profile/ERS12377136/ERS12377136_msp.tsv",sep="\t")
msp_bd = pd.read_feather("/shared/projects/mudis4ls_is4_benchmark/BDs/hs_10_4_gut/database/hs_10_4_gut_1990MSPs_gtdb_r220.feather")
msp_bd["gtdb_r220_classification"] = msp_bd["gtdb_r220_classification"].str.replace(";", "|", regex=False)

In [59]:
meteor=meteor.merge(msp_bd)
meteor=meteor[["value","gtdb_r220_classification"]]
meteor= meteor[meteor["value"] != 0]
meteor.reset_index(drop=True)

       value                           gtdb_r220_classification
0   0.022924  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...
1   0.011958  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...
2   0.016823  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...
3   0.037285  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...
4   0.015694  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...
..       ...                                                ...
62  0.004740  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Mo...
63  0.006924  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...
64  0.005266  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...
65  0.016690  d__Bacteria|p__Bacillota_A|c__Clostridia|o__TA...
66  0.067027  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...

[67 rows x 2 columns]

In [60]:
sylph_species=sylph[sylph["clade_name"].str.contains(r"s__.+$", na=False)]
sylph_species.drop(columns=["sequence_abundance", "ANI (if strain-level)", " Coverage (if strain-level)"], inplace=True)
sylph_species.rename(columns={"clade_name":"gtdb_r220_classification"}, inplace=True)

/tmp/ipykernel_3712647/3334215440.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sylph_species.drop(columns=["sequence_abundance", "ANI (if strain-level)", " Coverage (if strain-level)"], inplace=True)
/tmp/ipykernel_3712647/3334215440.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sylph_species.rename(columns={"clade_name":"gtdb_r220_classification"}, inplace=True)

In [61]:
metaphlan_species = metaphlan[metaphlan["#clade_name"].str.contains(r"s__.+$", na=False)]
metaphlan_species=metaphlan_species.replace(r";", "|", regex=True)
metaphlan_species.rename(columns={"#clade_name":"gtdb_r220_classification"}, inplace=True)

In [62]:
meteor.rename(columns={"value":"abundance"}, inplace=True)

In [63]:
bracken=bracken[["name","fraction_total_reads"]]
bracken.rename(columns={"name":"species"}, inplace=True)

In [64]:
bracken

                             species  fraction_total_reads
0              Bacteroides stercoris               0.07276
1              Bacteroides uniformis               0.05809
2          Bacteroides xylanisolvens               0.02812
3             Bacteroides finegoldii               0.01931
4                 Bacteroides ovatus               0.01542
...                              ...                   ...
1077           Methanolobus mangrovi               0.00002
1078                    Homo sapiens               0.00010
1079             Junduvirus communis               0.00019
1080                Junduvirus copri               0.00002
1081  Parabacteroides phage YZ-2015a               0.00002

[1082 rows x 2 columns]

In [65]:
bac120=pd.read_csv(
    "/shared/projects/mudis4ls_is4_benchmark/gtdb/bac120_taxonomy_r220.tsv",
    sep="\t",
    header=None
    )
bac120.rename(columns={0: "gtdb_ID", 1: "gtdb_r220_classification"}, inplace=True)
# Extraire les parties aprÃ¨s g__ et s__
# Extraire la partie aprÃ¨s s__
bac120['species'] = bac120['gtdb_r220_classification'].str.extract(r's__([^;]+)')

In [66]:
ar54=pd.read_csv(
    "/shared/projects/mudis4ls_is4_benchmark/gtdb/ar53_taxonomy_r220.tsv",
    sep="\t",
    header=None
    )
ar54.rename(columns={0: "gtdb_ID", 1: "gtdb_r220_classification"}, inplace=True)
# Extraire les parties aprÃ¨s g__ et s__
# Extraire la partie aprÃ¨s s__
ar54['species'] = ar54['gtdb_r220_classification'].str.extract(r's__([^;]+)')

In [67]:
ar54['gtdb_r220_classification'] = ar54['gtdb_r220_classification'].str.replace(';', '|', regex=False)

In [68]:
bac120['gtdb_r220_classification'] = bac120['gtdb_r220_classification'].str.replace(';', '|', regex=False)

In [69]:
ar_bac = pd.concat([bac120, ar54], ignore_index=True)

In [70]:
ar_bac

,gtdb_ID,gtdb_r220_classification,species
0,RS_GCF_015356595.1,d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...,Escherichia coli
1,RS_GCF_026420985.1,d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...,Escherichia coli
2,RS_GCF_001263015.1,d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...,Escherichia coli
3,RS_GCF_014926105.1,d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...,Escherichia coli
4,RS_GCF_003591595.1,d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...,Escherichia coli
...,...,...,...
596854,GB_GCA_016202305.1,d__Archaea|p__Iainarchaeota|c__Iainarchaeia|o_...,UBA10205 sp016202305
596855,GB_GCA_016185685.1,d__Archaea|p__Nanoarchaeota|c__Nanoarchaeia|o_...,JACPNC01 sp016185685
596856,GB_GCA_029850555.1,d__Archaea|p__Thermoproteota|c__Nitrososphaeri...,CADDZS01 sp029850555
596857,GB_GCA_020723065.1,d__Archaea|p__Micrarchaeota|c__Micrarchaeia|o_...,DTQF01 sp020723065
596858,GB_GCA_016207545.1,d__Archaea|p__Thermoplasmatota|c__Thermoplasma...,EA-27 sp016207545

In [71]:
metaphlan_species

                             gtdb_r220_classification  relative_abundance
37  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...            19.68851
38  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...            16.27582
39  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__O...            10.45622
40  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             9.35497
41  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             7.75750
42  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             7.73848
43  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__O...             5.47609
44  d__Bacteria|p__Firmicutes_C|c__Negativicutes|o...             3.35772
45  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             3.31197
46  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             2.74204
47  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...             2.57583
48  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__O...             2.18505
49  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__O...             2.04616
50  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...             1.94173
51  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             1.36180
52  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...             1.25307
53  d__Bacteria|p__Proteobacteria|c__Alphaproteoba...             1.05005
54  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...             0.93494
55  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             0.25081
56  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...             0.24124

In [72]:
gtdb_mapping=pd.read_csv("/shared/projects/mudis4ls_is4_benchmark/gtdb/207_220_mapping_full.tsv", sep="\t")

In [73]:
gtdb_mapping['old_taxonomy'] = gtdb_mapping['old_taxonomy'].str.replace(';', '|', regex=False)
gtdb_mapping['new_taxonomy'] = gtdb_mapping['new_taxonomy'].str.replace(';', '|', regex=False)

In [74]:
gtdb_mapping

,old_taxonomy,new_taxonomy,level
0,d__Bacteria,d__Bacteria,1
1,d__Bacteria|p__Proteobacteria,d__Bacteria|p__Pseudomonadota,2
2,d__Bacteria|p__Proteobacteria|c__Gammaproteoba...,d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...,3
3,d__Bacteria|p__Proteobacteria|c__Gammaproteoba...,d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...,4
4,d__Bacteria|p__Proteobacteria|c__Gammaproteoba...,d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...,5
...,...,...,...
81102,d__Bacteria|p__Acidobacteriota|c__Acidobacteri...,d__Bacteria|p__Acidobacteriota|c__Terriglobia|...,7
81103,d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...,d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...,7
81104,d__Bacteria|p__Firmicutes_A|c__Clostridia|o__O...,d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...,7
81105,d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...,d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...,7
81106,d__Bacteria|p__Firmicutes|c__Bacilli|o__Thermo...,d__Bacteria|p__Bacillota|c__Bacilli|o__Thermoa...,7

In [75]:
# Fusionner les deux DataFrames sur la colonne 'gtdb_r220_classification' et 'old_taxonomy'
metaphlan_species = pd.merge(metaphlan_species, gtdb_mapping, left_on='gtdb_r220_classification', right_on='old_taxonomy')

In [76]:
metaphlan_species.drop(columns=["old_taxonomy","gtdb_r220_classification"], inplace=True)
metaphlan_species.rename(columns={"new_taxonomy":"gtdb_r220_classification"}, inplace=True)

In [77]:
metaphlan_species.drop(columns="level", inplace=True)

In [78]:

# Fonction pour sÃ©lectionner le gtdb_ID appropriÃ©
def select_gtdb_id(group):
    # Filtrer les gtdb_ID qui commencent par "RS"
    rs_ids = group[group.str.startswith('RS')]
    if not rs_ids.empty:
        # Prendre le premier gtdb_ID qui commence par "RS"
        return rs_ids.iloc[0]
    else:
        # Sinon, prendre le premier gtdb_ID disponible
        return group.iloc[0]

# Grouper par 'gtdb_r220_classification' et appliquer la fonction de sÃ©lection
# L'objectif est d'avoir un fichier ar_bac qui n'a qu'un gtdb_id par gtdb_classification
selected_gtdb_ids = ar_bac.groupby('gtdb_r220_classification')['gtdb_ID'].apply(select_gtdb_id).reset_index()

# Fusionner les rÃ©sultats avec le DataFrame original pour conserver les autres colonnes
ar_bac_unique = pd.merge(selected_gtdb_ids, ar_bac, on=['gtdb_r220_classification', 'gtdb_ID'])

In [79]:
# ar_bac_unique.to_csv("/shared/projects/mudis4ls_is4_benchmark/gtdb/ar_bac_unique.tsv", sep="\t", index=False)

In [80]:
metaphlan_species.columns, sylph_species.columns, meteor.columns, bracken.columns

(Index(['relative_abundance', 'gtdb_r220_classification'], dtype='object'),
 Index(['gtdb_r220_classification', 'relative_abundance'], dtype='object'),
 Index(['abundance', 'gtdb_r220_classification'], dtype='object'),
 Index(['species', 'fraction_total_reads'], dtype='object'))

In [81]:
metaphlan_species=metaphlan_species.merge(ar_bac_unique, on="gtdb_r220_classification", how="inner")
sylph_species=sylph_species.merge(ar_bac_unique, on="gtdb_r220_classification", how="inner")
meteor=meteor.merge(ar_bac_unique, on="gtdb_r220_classification", how="inner")

In [82]:
bracken=bracken.merge(ar_bac_unique, on="species", how="inner")

In [83]:
metaphlan_species.columns, sylph_species.columns, meteor.columns, bracken.columns

(Index(['relative_abundance', 'gtdb_r220_classification', 'gtdb_ID', 'species'], dtype='object'),
 Index(['gtdb_r220_classification', 'relative_abundance', 'gtdb_ID', 'species'], dtype='object'),
 Index(['abundance', 'gtdb_r220_classification', 'gtdb_ID', 'species'], dtype='object'),
 Index(['species', 'fraction_total_reads', 'gtdb_r220_classification',
        'gtdb_ID'],
       dtype='object'))

In [84]:
metaphlan_species['rank'] = 'species'
sylph_species['rank'] = 'species'
meteor['rank'] = 'species'
bracken['rank'] = 'species'

In [85]:
metaphlan_species.columns, sylph_species.columns, meteor.columns, bracken.columns

(Index(['relative_abundance', 'gtdb_r220_classification', 'gtdb_ID', 'species',
        'rank'],
       dtype='object'),
 Index(['gtdb_r220_classification', 'relative_abundance', 'gtdb_ID', 'species',
        'rank'],
       dtype='object'),
 Index(['abundance', 'gtdb_r220_classification', 'gtdb_ID', 'species', 'rank'], dtype='object'),
 Index(['species', 'fraction_total_reads', 'gtdb_r220_classification',
        'gtdb_ID', 'rank'],
       dtype='object'))

In [86]:
# Changer l'ordre des colonnes
metaphlan_species = metaphlan_species[['gtdb_ID', 'rank', 'species', 'relative_abundance']]
sylph_species = sylph_species[['gtdb_ID', 'rank', 'species', 'relative_abundance']]
meteor = meteor[['gtdb_ID', 'rank', 'species', 'abundance']]
bracken = bracken[['gtdb_ID', 'rank', 'species', 'fraction_total_reads']]

In [88]:
meteor.rename(columns={"abundance":"relative_abundance"}, inplace=True)
bracken.rename(columns={"fraction_total_reads":"relative_abundance"}, inplace=True)

In [89]:
bracken["relative_abundance"]=bracken["relative_abundance"]*100
meteor["relative_abundance"]=meteor["relative_abundance"]*100

In [90]:
def add_tax_path_column(df):
    df['tax_path'] = df['gtdb_ID']
    return df
for df in [metaphlan_species, sylph_species, meteor, bracken]:
    add_tax_path_column(df)

In [91]:

new_column_names=["@@TAXID", "RANK", "TAXPATHSN", "PERCENTAGE","TAXPATH"]

In [92]:
for df in [metaphlan_species, sylph_species, meteor, bracken]:
    df.columns=new_column_names

In [93]:
# Liste des DataFrames
dataframes = [metaphlan_species, sylph_species, meteor, bracken]

# Nouvel ordre des colonnes
new_column_order = ["@@TAXID", "RANK", "TAXPATH", "TAXPATHSN", "PERCENTAGE"]

# RÃ©organisation des colonnes pour chaque DataFrame
for i, df in enumerate(dataframes):
    dataframes[i] = df[new_column_order]

# RÃ©affectation des DataFrames modifiÃ©s aux variables d'origine
metaphlan_species, sylph_species, meteor, bracken = dataframes

# VÃ©rification de l'ordre des colonnes
for df in [metaphlan_species, sylph_species, meteor, bracken]:
    print(df.columns)

Index(['@@TAXID', 'RANK', 'TAXPATH', 'TAXPATHSN', 'PERCENTAGE'], dtype='object')
Index(['@@TAXID', 'RANK', 'TAXPATH', 'TAXPATHSN', 'PERCENTAGE'], dtype='object')
Index(['@@TAXID', 'RANK', 'TAXPATH', 'TAXPATHSN', 'PERCENTAGE'], dtype='object')
Index(['@@TAXID', 'RANK', 'TAXPATH', 'TAXPATHSN', 'PERCENTAGE'], dtype='object')

In [94]:
for df in [metaphlan_species, sylph_species, meteor, bracken]:
    print(df.head())

              @@TAXID     RANK             TAXPATH               TAXPATHSN  \
0  RS_GCF_015547315.1  species  RS_GCF_015547315.1    Phocaeicola vulgatus
1  RS_GCF_003469095.1  species  RS_GCF_003469095.1   Agathobacter rectalis
2  RS_GCF_020687045.1  species  RS_GCF_020687045.1  Vescimonas cirricatena
3  RS_GCF_009025075.1  species  RS_GCF_009025075.1   Bacteroides stercoris
4  RS_GCF_934839055.1  species  RS_GCF_934839055.1    Alistipes putredinis

   PERCENTAGE
0    19.68851
1    16.27582
2    10.45622
3     9.35497
4     7.75750
              @@TAXID     RANK             TAXPATH                TAXPATHSN  \
0  RS_GCF_015547315.1  species  RS_GCF_015547315.1     Phocaeicola vulgatus
1  RS_GCF_003475165.1  species  RS_GCF_003475165.1  Bacteroides stercoris_A
2  RS_GCF_003469095.1  species  RS_GCF_003469095.1    Agathobacter rectalis
3  RS_GCF_020687045.1  species  RS_GCF_020687045.1   Vescimonas cirricatena
4  RS_GCF_009025075.1  species  RS_GCF_009025075.1    Bacteroides stercoris

   PERCENTAGE
0     11.4494
1      8.9712
2      8.3775
3      8.3293
4      8.1772
              @@TAXID     RANK             TAXPATH  \
0  RS_GCF_015547705.1  species  RS_GCF_015547705.1
1  RS_GCF_020554465.1  species  RS_GCF_020554465.1
2  RS_GCF_023656845.1  species  RS_GCF_023656845.1
3  RS_GCF_003475515.1  species  RS_GCF_003475515.1
4  RS_GCF_009696275.1  species  RS_GCF_009696275.1

                    TAXPATHSN  PERCENTAGE
0          Bacteroides ovatus    2.292396
1       Enterocloster bolteae    1.195844
2  Parabacteroides distasonis    1.682270
3      Roseburia intestinalis    3.728478
4        Eisenbergiella porci    1.569403
              @@TAXID     RANK             TAXPATH                  TAXPATHSN  \
0  RS_GCF_009025075.1  species  RS_GCF_009025075.1      Bacteroides stercoris
1  RS_GCF_003602945.1  species  RS_GCF_003602945.1      Bacteroides uniformis
2  RS_GCF_020257245.1  species  RS_GCF_020257245.1  Bacteroides xylanisolvens
3  RS_GCF_008571515.1  species  RS_GCF_008571515.1     Bacteroides finegoldii
4  RS_GCF_015547705.1  species  RS_GCF_015547705.1         Bacteroides ovatus

   PERCENTAGE
0       7.276
1       5.809
2       2.812
3       1.931
4       1.542

In [ ]:
header = """@SampleID:ERS12377136
@Version:0.9.1
@Ranks:species
@TaxonomyID:gtdb-R220
@@TAXID\tRANK\tTAXPATH\tTAXPATHSN\tPERCENTAGE"""

def save_to_tsv(df, filename):
    with open(filename, 'w') as f:
        f.write(header + '\n')
        df.to_csv(f, sep='\t', index=False, header=False)

save_to_tsv(metaphlan_species, '/shared/projects/mudis4ls_is4_benchmark/test_results/opal/metaphlan_species.tsv')
save_to_tsv(sylph_species, '/shared/projects/mudis4ls_is4_benchmark/test_results/opal/sylph_species.tsv')
save_to_tsv(meteor, '/shared/projects/mudis4ls_is4_benchmark/test_results/opal/meteor.tsv')
save_to_tsv(bracken, '/shared/projects/mudis4ls_is4_benchmark/test_results/opal/bracken.tsv')