In [1]:
import pandas as pd

In [4]:
metaphlan=pd.read_csv(
    "/shared/projects/mudis4ls_is4_benchmark/test_results/metaphlan/metaphlan_output_gtdb.txt", sep="\t",
    header=1
    )

In [13]:
sylph=pd.read_csv("/shared/projects/mudis4ls_is4_benchmark/test_results/sylph/ERS12377136.fastq.gz.sylphmpa",
                  sep="\t", header=1)

In [14]:
sylph

,clade_name,relative_abundance,sequence_abundance,ANI (if strain-level),Coverage (if strain-level)
0,d__Bacteria,100.0000,100.0001,NaN,NaN
1,d__Bacteria|p__Bacteroidota,50.7665,59.3626,NaN,NaN
2,d__Bacteria|p__Bacillota_A,41.4963,36.1829,NaN,NaN
3,d__Bacteria|p__Pseudomonadota,4.3007,2.3112,NaN,NaN
4,d__Bacteria|p__Bacillota_C,3.4365,2.1434,NaN,NaN
...,...,...,...,...,...
88,d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...,1.9465,1.7881,98.05,0.052
89,d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...,1.8609,1.0262,99.15,0.050
90,d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...,1.6477,1.3536,97.12,0.044
91,d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...,1.5230,1.2569,96.07,0.041
92,d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...,1.3124,0.9629,98.48,0.035

In [30]:
meteor=pd.read_csv("/shared/projects/mudis4ls_is4_benchmark/test_results/meteor/profile/ERS12377136/ERS12377136_msp.tsv",sep="\t")
msp_bd = pd.read_feather("/shared/projects/mudis4ls_is4_benchmark/BDs/hs_10_4_gut/database/hs_10_4_gut_1990MSPs_gtdb_r220.feather")
msp_bd["gtdb_r220_classification"] = msp_bd["gtdb_r220_classification"].str.replace(";", "|", regex=False)

In [31]:
meteor=meteor.merge(msp_bd)

In [33]:
meteor=meteor[["value","gtdb_r220_classification"]]

In [ ]:
meteor=meteor

      value                           gtdb_r220_classification
0       0.0  d__Eukaryota|p__Heterokonta|c__Blastocystae|o_...
1       0.0  d__Eukaryota|p__Heterokonta|c__Blastocystae|o_...
2       0.0  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...
3       0.0  d__Eukaryota|p__Heterokonta|c__Blastocystae|o_...
4       0.0  d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...
...     ...                                                ...
1985    0.0  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...
1986    0.0  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...
1987    0.0  d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...
1988    0.0  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...
1989    0.0  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...

[1990 rows x 2 columns]

In [35]:
meteor= meteor[meteor["value"] != 0]

In [37]:
meteor.reset_index(drop=True)

       value                           gtdb_r220_classification
0   0.022924  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...
1   0.011958  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...
2   0.016823  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...
3   0.037285  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...
4   0.015694  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...
..       ...                                                ...
62  0.004740  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Mo...
63  0.006924  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...
64  0.005266  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...
65  0.016690  d__Bacteria|p__Bacillota_A|c__Clostridia|o__TA...
66  0.067027  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...

[67 rows x 2 columns]

In [ ]:
sylph_species=sylph[sylph["clade_name"].str.contains(r"s__.+$", na=False)]

In [23]:
sylph_species.columns

Index(['clade_name', 'relative_abundance', 'sequence_abundance',
       'ANI (if strain-level)', ' Coverage (if strain-level)'],
      dtype='object')

In [25]:
sylph_species.drop(columns=["sequence_abundance", "ANI (if strain-level)", " Coverage (if strain-level)"], inplace=True)

/tmp/ipykernel_490078/2178759626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sylph_species.drop(columns=["sequence_abundance", "ANI (if strain-level)", " Coverage (if strain-level)"], inplace=True)

In [27]:
sylph_species

                                           clade_name  relative_abundance
43  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             11.4494
44  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              8.9712
45  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              8.3775
46  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...              8.3293
47  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              8.1772
48  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              4.5912
49  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              4.3646
50  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...              4.1169
51  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              3.7423
52  d__Bacteria|p__Bacillota_C|c__Negativicutes|o_...              3.4365
53  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...              3.0637
54  d__Bacteria|p__Pseudomonadota|c__Alphaproteoba...              2.9883
55  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              2.7987
56  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              2.7191
57  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              2.6256
58  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              2.5578
59  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              2.4917
60  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              2.4838
61  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              2.4782
62  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              1.9465
63  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              1.9465
64  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...              1.8609
65  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              1.6477
66  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              1.5230
67  d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...              1.3124
68  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             11.4494
69  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              8.9712
70  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              8.3775
71  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...              8.3293
72  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              8.1772
73  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              4.5912
74  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              4.3646
75  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...              4.1169
76  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              3.7423
77  d__Bacteria|p__Bacillota_C|c__Negativicutes|o_...              3.4365
78  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...              3.0637
79  d__Bacteria|p__Pseudomonadota|c__Alphaproteoba...              2.9883
80  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              2.7987
81  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              2.7191
82  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              2.6256
83  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              2.5578
84  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              2.4917
85  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              2.4838
86  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              2.4782
87  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              1.9465
88  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              1.9465
89  d__Bacteria|p__Bacillota_A|c__Clostridia|o__Os...              1.8609
90  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...              1.6477
91  d__Bacteria|p__Bacillota_A|c__Clostridia|o__La...              1.5230
92  d__Bacteria|p__Pseudomonadota|c__Gammaproteoba...              1.3124

In [15]:
metaphlan_species = metaphlan[metaphlan["#clade_name"].str.contains(r"s__.+$", na=False)]

In [17]:
metaphlan_species=metaphlan_species.replace(r";", "|", regex=True)

In [19]:
metaphlan_species

                                          #clade_name  relative_abundance
37  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...            19.68851
38  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...            16.27582
39  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__O...            10.45622
40  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             9.35497
41  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             7.75750
42  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             7.73848
43  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__O...             5.47609
44  d__Bacteria|p__Firmicutes_C|c__Negativicutes|o...             3.35772
45  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             3.31197
46  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             2.74204
47  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...             2.57583
48  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__O...             2.18505
49  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__O...             2.04616
50  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...             1.94173
51  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             1.36180
52  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...             1.25307
53  d__Bacteria|p__Proteobacteria|c__Alphaproteoba...             1.05005
54  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...             0.93494
55  d__Bacteria|p__Bacteroidota|c__Bacteroidia|o__...             0.25081
56  d__Bacteria|p__Firmicutes_A|c__Clostridia|o__L...             0.24124

In [16]:
metaphlan_species

                                          #clade_name  relative_abundance
37  d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...            19.68851
38  d__Bacteria;p__Firmicutes_A;c__Clostridia;o__L...            16.27582
39  d__Bacteria;p__Firmicutes_A;c__Clostridia;o__O...            10.45622
40  d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...             9.35497
41  d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...             7.75750
42  d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...             7.73848
43  d__Bacteria;p__Firmicutes_A;c__Clostridia;o__O...             5.47609
44  d__Bacteria;p__Firmicutes_C;c__Negativicutes;o...             3.35772
45  d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...             3.31197
46  d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...             2.74204
47  d__Bacteria;p__Firmicutes_A;c__Clostridia;o__L...             2.57583
48  d__Bacteria;p__Firmicutes_A;c__Clostridia;o__O...             2.18505
49  d__Bacteria;p__Firmicutes_A;c__Clostridia;o__O...             2.04616
50  d__Bacteria;p__Firmicutes_A;c__Clostridia;o__L...             1.94173
51  d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...             1.36180
52  d__Bacteria;p__Firmicutes_A;c__Clostridia;o__L...             1.25307
53  d__Bacteria;p__Proteobacteria;c__Alphaproteoba...             1.05005
54  d__Bacteria;p__Firmicutes_A;c__Clostridia;o__L...             0.93494
55  d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...             0.25081
56  d__Bacteria;p__Firmicutes_A;c__Clostridia;o__L...             0.24124

In [38]:
bracken=pd.read_csv("/shared/projects/mudis4ls_is4_benchmark/test_results/kraken/gtdb/test_Species.bracken", sep="\t")

In [40]:
bracken=bracken[["name","fraction_total_reads"]]

In [64]:
bracken.rename(columns={"name":"species"}, inplace=True)

/tmp/ipykernel_490078/1599167833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bracken.rename(columns={"name":"species"}, inplace=True)

In [66]:
bracken.merge(bac120, on="species")

,species,fraction_total_reads,gtdb_ID,gtdb_taxonomy
0,Bacteroides stercoris,0.07276,GB_GCA_934717815.1,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...
1,Bacteroides stercoris,0.07276,GB_GCA_014871315.1,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...
2,Bacteroides stercoris,0.07276,RS_GCF_009025075.1,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...
3,Bacteroides stercoris,0.07276,RS_GCF_028399485.1,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...
4,Bacteroides stercoris,0.07276,RS_GCF_000154525.1,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...
...,...,...,...,...
106999,Thermotoga petrophila,0.00002,GB_GCA_003444215.1,d__Bacteria;p__Thermotogota;c__Thermotogae;o__...
107000,Thermotoga petrophila,0.00002,RS_GCF_000784795.1,d__Bacteria;p__Thermotogota;c__Thermotogae;o__...
107001,Pseudothermotoga thermarum,0.00002,RS_GCF_000217815.1,d__Bacteria;p__Thermotogota;c__Thermotogae;o__...
107002,Bradymonas sediminis,0.00002,RS_GCF_003258315.1,d__Bacteria;p__Myxococcota;c__Bradymonadia;o__...
107003,Bradymonas sediminis,0.00002,RS_GCF_004362595.1,d__Bacteria;p__Myxococcota;c__Bradymonadia;o__...

In [59]:
bac120=pd.read_csv(
    "/shared/projects/mudis4ls_is4_benchmark/gtdb/bac120_taxonomy_r220.tsv",
    sep="\t",
    header=None
    )

In [60]:
bac120.rename(columns={0: "gtdb_ID", 1: "gtdb_taxonomy"}, inplace=True)

In [62]:
# Extraire les parties aprÃ¨s g__ et s__
# Extraire la partie aprÃ¨s s__
bac120['species'] = bac120['gtdb_taxonomy'].str.extract(r's__([^;]+)')

In [63]:
bac120

,gtdb_ID,gtdb_taxonomy,species
0,RS_GCF_015356595.1,d__Bacteria;p__Pseudomonadota;c__Gammaproteoba...,Escherichia coli
1,RS_GCF_026420985.1,d__Bacteria;p__Pseudomonadota;c__Gammaproteoba...,Escherichia coli
2,RS_GCF_001263015.1,d__Bacteria;p__Pseudomonadota;c__Gammaproteoba...,Escherichia coli
3,RS_GCF_014926105.1,d__Bacteria;p__Pseudomonadota;c__Gammaproteoba...,Escherichia coli
4,RS_GCF_003591595.1,d__Bacteria;p__Pseudomonadota;c__Gammaproteoba...,Escherichia coli
...,...,...,...
584377,GB_GCA_029982795.1,d__Bacteria;p__Patescibacteria;c__ABY1;o__BM50...,UBA12465 sp029982795
584378,RS_GCF_902491705.1,d__Bacteria;p__Bacillota;c__Bacilli;o__Lactoba...,Lactobacillus sp902491705
584379,RS_GCF_003955665.1,d__Bacteria;p__Bacillota;c__Bacilli;o__Paeniba...,Paenibacillus_E whitsoniae
584380,GB_GCA_023264155.1,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...,JALQTD01 sp023264155
584381,GB_GCA_030145435.1,d__Bacteria;p__Desulfobacterota;c__DSWW01;o__D...,S015-6 sp030145435

In [11]:
bac120

                   gtdb_ID                                      gtdb_taxonomy
0       RS_GCF_015356595.1  d__Bacteria;p__Pseudomonadota;c__Gammaproteoba...
1       RS_GCF_026420985.1  d__Bacteria;p__Pseudomonadota;c__Gammaproteoba...
2       RS_GCF_001263015.1  d__Bacteria;p__Pseudomonadota;c__Gammaproteoba...
3       RS_GCF_014926105.1  d__Bacteria;p__Pseudomonadota;c__Gammaproteoba...
4       RS_GCF_003591595.1  d__Bacteria;p__Pseudomonadota;c__Gammaproteoba...
...                    ...                                                ...
584377  GB_GCA_029982795.1  d__Bacteria;p__Patescibacteria;c__ABY1;o__BM50...
584378  RS_GCF_902491705.1  d__Bacteria;p__Bacillota;c__Bacilli;o__Lactoba...
584379  RS_GCF_003955665.1  d__Bacteria;p__Bacillota;c__Bacilli;o__Paeniba...
584380  GB_GCA_023264155.1  d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...
584381  GB_GCA_030145435.1  d__Bacteria;p__Desulfobacterota;c__DSWW01;o__D...

[584382 rows x 2 columns]